<div class="alert alert-info" style="background-color:#006666; color:white; padding:0px 10px; border-radius:5px;"><h2 style='margin:10px 5px'>1. Selecting Specific Data with loc, iloc, at, iat</h2>
</div>

In [243]:
import numpy as np
import pandas as pd

In [244]:
df = pd.read_csv("/home/gokku/My codes/csv files/Churn.csv")
df.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

Pandas offers 4 primary methods to select items: 

1. __Dot notation__ : Select a single column.
1. __loc__   : select based on column names and index names. 
2. __iloc__  : select based on the column number and row number.
2. __iat__   : select one item only based on column and row number.

### Dot notation

Select one column only as reference.

In [245]:
df.state

0       KS
1       OH
2       NJ
3       OH
4       OK
        ..
3328    AZ
3329    WV
3330    RI
3331    CT
3332    TN
Name: state, Length: 3333, dtype: object

In [246]:
df.state_num = 1

In [247]:
df

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

In [248]:
df.state_num

1

In [249]:
type(df.state)

pandas.core.series.Series

The dot notation can't be used for column names that contain a space character.

### .loc example

.loc takes 2 arguments inside the square brackets. One for index names (row names) an another for columns names.

In [250]:
df.loc[:,"state"]

0       KS
1       OH
2       NJ
3       OH
4       OK
        ..
3328    AZ
3329    WV
3330    RI
3331    CT
3332    TN
Name: state, Length: 3333, dtype: object

In [251]:
df.loc[:,['account length',	'area code',
          'phone number',	'international plan',
          'voice mail plan','number vmail messages']].head()

,account length,area code,phone number,international plan,voice mail plan,number vmail messages
0,128,415,382-4657,no,yes,25
1,107,415,371-7191,no,yes,26
2,137,415,358-1921,no,no,0
3,84,408,375-9999,yes,no,0
4,75,415,330-6626,yes,no,0

In [252]:
df.loc[:,'account length':'number vmail messages'].head()

,account length,area code,phone number,international plan,voice mail plan,number vmail messages
0,128,415,382-4657,no,yes,25
1,107,415,371-7191,no,yes,26
2,137,415,358-1921,no,no,0
3,84,408,375-9999,yes,no,0
4,75,415,330-6626,yes,no,0

### .iloc example

In [253]:
df.iloc[[0,1,2,3,4],[1,2,3,4]]

   account length  area code phone number international plan
0             128        415     382-4657                 no
1             107        415     371-7191                 no
2             137        415     358-1921                 no
3              84        408     375-9999                yes
4              75        415     330-6626                yes

In [254]:
# another way
df.iloc[0:5,1:5]

   account length  area code phone number international plan
0             128        415     382-4657                 no
1             107        415     371-7191                 no
2             137        415     358-1921                 no
3              84        408     375-9999                yes
4              75        415     330-6626                yes

### at and iat Example

`at` and `iat` provide access to scalar, that is a single element in the dataframe. 

__Advantage:__ It is much faster than doing operations with .loc and .iloc.

In [255]:
# Acces single element with iat 
df.iat[1,1]

107

In [256]:
# access single element with at
df.at[1,"account length"]

107

### Mini Challenge

1. Get the row before the last row from the following dataframe.
2. Create a new column called 'minutes per call'.

```python
```

In [257]:
import pandas as pd
df = pd.read_csv("/home/gokku/My codes/csv files/Churn.csv")
df.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [258]:
df.iloc[3332:3333,:]

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.6,241.4,77,10.86,13.7,4,3.7,0,False

In [259]:
df['minutes_per_call'] = df["total day minutes"]/df["total day calls"]
df.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn,minutes_per_call
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,16.78,244.7,91,11.01,10.0,3,2.70,1,False,2.410000
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,16.62,254.4,103,11.45,13.7,3,3.70,1,False,1.313821
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,10.30,162.6,104,7.32,12.2,5,3.29,0,False,2.135088
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,5.26,196.9,89,8.86,6.6,7,1.78,2,False,4.216901
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,12.61,186.9,121,8.41,10.1,3,2.73,3,False,1.475221

<div class="alert alert-info" style="background-color:#006666; color:white; padding:0px 10px; border-radius:5px;"><h2 style='margin:10px 5px'>2. Gain speed using .at and .iat</h2>
</div>

The main advantage of using .at and .iat is speed. 

Let's compare the time taken to compute the hypotenuse using .loc vs .iat method.

In [260]:
import numpy as np
import pandas as pd

nrow = 10000
arr = np.random.randint(0,100,(nrow,3))
df = pd.DataFrame(arr,columns=['A','B','C'])
df.head()

    A   B   C
0  23  97   8
1  90  34  91
2  85  38  91
3  23  77  88
4  70  98  53

Define the function. We are going to iterate the rows of the dataframe and apply this function for each row and assign the returned value to one of the columns in the dataframe itself.

In [261]:
def hypotenues (a,b) :
    return np.sqrt(a**2 + b**2)

In [262]:
# another function
def myfunc (a,b) :
    if b > a :
        return 1
    else :
        return 0

Using df.iloc

In [263]:
%%time
for i in range(nrow) :
     A = df.loc[i,"A"]
     B = df.loc[i,"B"]
     df.loc[i,"C"] = hypotenues(A,B)

CPU times: user 913 ms, sys: 0 ns, total: 913 ms
Wall time: 913 ms

Using df.at

In [264]:
%%time
for i in range(nrow) :
     A = df.at[i,"A"]
     B = df.at[i,"B"]
     df.at[i,"C"] = hypotenues(A,B)

CPU times: user 187 ms, sys: 3.34 ms, total: 190 ms
Wall time: 188 ms

Using iat

In [265]:
%%time
for i in range(nrow) :
     A = df.iat[i,0]
     B = df.iat[i,1]
     df.iat[i,2] = hypotenues(A,B)

CPU times: user 514 ms, sys: 0 ns, total: 514 ms
Wall time: 513 ms

In [266]:
df.head()

    A   B           C
0  23  97   99.689518
1  90  34   96.208108
2  85  38   93.107465
3  23  77   80.361682
4  70  98  120.432554

However, use vectorization whereever possible, because that's usually the fastest.

__Using vectorization__

In [267]:
%%time
df["C"] = np.sqrt(df["A"]**2 + df["B"]**2)

CPU times: user 0 ns, sys: 1.74 ms, total: 1.74 ms
Wall time: 1.38 ms

In [268]:
df.head()

    A   B           C
0  23  97   99.689518
1  90  34   96.208108
2  85  38   93.107465
3  23  77   80.361682
4  70  98  120.432554

In [269]:
%%time
df["C"] = np.sqrt(df.loc[:,"A"]**2 + df.loc[:,"B"])

CPU times: user 1.86 ms, sys: 99 Âµs, total: 1.96 ms
Wall time: 1.52 ms

In [270]:
df.head()

    A   B          C
0  23  97  25.019992
1  90  34  90.188691
2  85  38  85.223236
3  23  77  24.617067
4  70  98  70.696535

<div class="alert alert-info" style="background-color:#006666; color:white; padding:0px 10px; border-radius:5px;"><h2 style='margin:10px 5px'>3. Filtering Rows that satisfy one or more conditions</h2>
</div>

In [271]:
import numpy as np 
import pandas as pd

In [272]:
df = pd.read_csv("/home/gokku/My codes/csv files/Churn.csv")
df.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

ROW FILTER

In [273]:
row_filter_mask = df['account length'] > 100
row_filter_mask

0        True
1        True
2        True
3       False
4       False
        ...
3328     True
3329    False
3330    False
3331     True
3332    False
Name: account length, Length: 3333, dtype: bool

COLOUMN FILTER MASK

In [274]:
column_filter_mask = df.columns.str.startswith('t')
column_filter_mask

array([False, False, False, False, False, False, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False, False])

In [275]:
df.loc[row_filter_mask,:]

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
5,AL,118,510,391-8027,yes,no,0,223.4,98,37.98,...,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False
6,MA,121,510,355-9993,no,yes,24,218.2,88,37.09,...,108,29.62,212.6,118,9.57,7.5,7,2.03,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3320,GA,122,510,411-5677,yes,no,0,140.0,101,23.80,...,77,16.69,120.1,133,5.40,9.7,4,2.62,4,True
3323,IN,117,415,362-5899,no,no,0,118.4,126,20.13,...,97,21.19,227.0,56,10.22,13.6,3,3.67,5,True
3324,WV,159,415,377-1164,no,no,0,169.8,114,28.87,...,105,16.80,193.7,82,8.72,11.6,4,3.13,1,False
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False

In [276]:
df.loc[:,column_filter_mask]

,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge
0,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70
1,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70
2,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29
3,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78
4,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73
...,...,...,...,...,...,...,...,...,...,...,...,...
3328,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67
3329,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59
3330,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81
3331,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35
3332,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70

You can also apply more than one filter


OR condition with |

In [277]:
filter_1 = df["account length"] >100
filter_2 = df["total night calls"] <90

In [278]:
df.loc[(filter_1|filter_2),:].sort_values(by="account length")

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
923,MS,1,415,408-3977,no,no,0,144.8,107,24.62,...,66,9.56,218.7,79,9.84,13.8,3,3.73,1,False
2423,SC,1,408,336-1043,no,no,0,123.8,113,21.05,...,77,20.08,73.2,81,3.29,3.7,2,1.00,0,False
2960,TX,1,415,396-4254,no,no,0,182.1,106,30.96,...,106,11.47,152.3,75,6.85,10.0,3,2.70,5,True
671,CT,3,415,401-6162,no,yes,36,118.1,117,20.08,...,125,18.83,103.9,89,4.68,11.9,6,3.21,2,False
3122,TN,3,415,400-4713,no,no,0,185.0,120,31.45,...,129,17.31,170.5,89,7.67,14.1,3,3.81,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
416,DE,224,510,361-6563,yes,no,0,171.5,99,29.16,...,103,13.60,212.4,102,9.56,5.0,2,1.35,1,True
1551,MI,225,415,371-2500,no,no,0,165.4,106,28.12,...,109,23.26,210.0,93,9.45,8.7,3,2.35,0,True
1751,WY,225,415,374-1213,no,no,0,182.7,142,31.06,...,63,20.95,218.0,103,9.81,8.8,2,2.38,1,False
1408,NM,232,408,386-9177,no,no,0,165.6,104,28.15,...,115,16.65,118.3,77,5.32,11.8,3,3.19,1,False
817,UT,243,510,355-9360,no,no,0,95.5,92,16.24,...,63,13.91,264.2,118,11.89,6.6,6,1.78,2,False

With And Condition &

In [279]:
df.loc[(filter_1 & filter_2),:].sort_values(by="total night calls")

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
2988,VA,105,415,344-3145,no,no,0,259.3,96,44.08,...,97,14.89,222.4,36,10.01,12.0,5,3.24,3,False
326,AL,121,408,331-8909,no,yes,35,68.7,95,11.68,...,69,17.78,197.4,42,8.88,11.4,4,3.08,1,False
335,KY,151,408,396-8265,no,yes,17,214.7,97,36.50,...,90,11.77,169.1,44,7.61,8.6,4,2.32,1,False
3287,KS,170,415,404-5840,no,yes,42,199.5,119,33.92,...,90,11.48,184.6,49,8.31,10.9,3,2.94,4,True
380,SD,137,510,373-5732,no,no,0,242.1,118,41.16,...,93,16.24,218.6,50,9.84,14.7,2,3.97,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
657,AK,130,415,392-5587,no,no,0,242.5,101,41.23,...,114,8.74,142.4,89,6.41,9.3,2,2.51,2,False
2713,NH,116,408,369-2214,no,yes,24,183.6,138,31.21,...,90,17.32,166.9,89,7.51,6.0,3,1.62,2,False
2369,NY,112,415,391-1737,no,no,0,174.3,123,29.63,...,124,11.92,215.4,89,9.69,9.0,6,2.43,4,True
1022,LA,154,510,388-8670,no,no,0,166.9,99,28.37,...,97,13.17,189.4,89,8.52,7.2,5,1.94,0,False
1298,AZ,141,510,369-6012,no,yes,22,215.4,123,36.62,...,98,27.94,160.5,89,7.22,7.8,6,2.11,1,False

In [280]:
df.loc[(filter_1 & filter_2),column_filter_mask].sort_values(by="total night calls")

,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge
2988,259.3,96,44.08,175.2,97,14.89,222.4,36,10.01,12.0,5,3.24
326,68.7,95,11.68,209.2,69,17.78,197.4,42,8.88,11.4,4,3.08
335,214.7,97,36.50,138.5,90,11.77,169.1,44,7.61,8.6,4,2.32
3287,199.5,119,33.92,135.0,90,11.48,184.6,49,8.31,10.9,3,2.94
380,242.1,118,41.16,191.0,93,16.24,218.6,50,9.84,14.7,2,3.97
...,...,...,...,...,...,...,...,...,...,...,...,...
657,242.5,101,41.23,102.8,114,8.74,142.4,89,6.41,9.3,2,2.51
2713,183.6,138,31.21,203.8,90,17.32,166.9,89,7.51,6.0,3,1.62
2369,174.3,123,29.63,140.2,124,11.92,215.4,89,9.69,9.0,6,2.43
1022,166.9,99,28.37,154.9,97,13.17,189.4,89,8.52,7.2,5,1.94
1298,215.4,123,36.62,328.7,98,27.94,160.5,89,7.22,7.8,6,2.11

Filtering using `where`. Instead of dropping the non-eligible rows, the `where` method replaces the values with NaNs. 

You can either drop these rows or replace the NaNs with some other value.

In [281]:
df.where(filter_1 & filter_2)

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192.0,415.0,414-4276,no,yes,36.0,156.2,77.0,26.55,...,126.0,18.32,279.1,83.0,12.56,9.9,6.0,2.67,2.0,False
3329,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3330,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [282]:
df.where(filter_1 & filter_2).fillna(0)

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,0,0.0,0.0,0,0,0,0.0,0.0,0.0,0.00,...,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0
1,0,0.0,0.0,0,0,0,0.0,0.0,0.0,0.00,...,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0
2,0,0.0,0.0,0,0,0,0.0,0.0,0.0,0.00,...,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0
3,0,0.0,0.0,0,0,0,0.0,0.0,0.0,0.00,...,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0
4,0,0.0,0.0,0,0,0,0.0,0.0,0.0,0.00,...,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192.0,415.0,414-4276,no,yes,36.0,156.2,77.0,26.55,...,126.0,18.32,279.1,83.0,12.56,9.9,6.0,2.67,2.0,False
3329,0,0.0,0.0,0,0,0,0.0,0.0,0.0,0.00,...,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0
3330,0,0.0,0.0,0,0,0,0.0,0.0,0.0,0.00,...,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0
3331,0,0.0,0.0,0,0,0,0.0,0.0,0.0,0.00,...,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0
3332,0,0.0,0.0,0,0,0,0.0,0.0,0.0,0.00,...,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0

In [283]:
df.where(filter_1 & filter_2).dropna()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
22,AZ,130.0,415.0,358-1958,no,no,0.0,183.0,112.0,31.11,...,99.0,6.20,181.8,78.0,8.18,9.5,19.0,2.57,0.0,False
32,LA,172.0,408.0,383-1121,no,no,0.0,212.0,121.0,36.04,...,115.0,2.65,293.3,78.0,13.20,12.6,10.0,3.40,3.0,False
41,MD,135.0,408.0,383-6029,yes,yes,41.0,173.1,85.0,29.43,...,107.0,17.33,122.2,78.0,5.50,14.6,15.0,3.94,0.0,True
57,CO,121.0,408.0,370-7574,no,yes,30.0,198.4,129.0,33.73,...,77.0,6.40,181.2,77.0,8.15,5.8,3.0,1.57,3.0,True
60,ID,174.0,408.0,359-5893,no,no,0.0,192.1,97.0,32.66,...,94.0,14.44,166.6,54.0,7.50,11.4,4.0,3.08,1.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3306,AL,106.0,408.0,404-5283,no,yes,29.0,83.6,131.0,14.21,...,131.0,17.33,229.5,73.0,10.33,8.1,3.0,2.19,1.0,False
3307,OK,172.0,408.0,398-3632,no,no,0.0,203.9,109.0,34.66,...,123.0,19.89,160.7,65.0,7.23,17.8,4.0,4.81,4.0,False
3323,IN,117.0,415.0,362-5899,no,no,0.0,118.4,126.0,20.13,...,97.0,21.19,227.0,56.0,10.22,13.6,3.0,3.67,5.0,True
3324,WV,159.0,415.0,377-1164,no,no,0.0,169.8,114.0,28.87,...,105.0,16.80,193.7,82.0,8.72,11.6,4.0,3.13,1.0,False
3328,AZ,192.0,415.0,414-4276,no,yes,36.0,156.2,77.0,26.55,...,126.0,18.32,279.1,83.0,12.56,9.9,6.0,2.67,2.0,False

<div class="alert alert-info" style="background-color:#006666; color:white; padding:0px 10px; border-radius:5px;"><h2 style='margin:10px 5px'>Membership Filtering</h2>
</div>

`isin()`, `between()`,  `~` , `any`, `all`

__isin( )__: True if the value `isin` a given list-like object, else False.

In [284]:
df.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [285]:
filter = df.state.isin(['OH' , 'NJ'])
df.loc[filter,:].head(10)

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
39,NJ,149,408,332-9891,no,no,0,140.4,94,23.87,...,92,23.10,188.3,108,8.47,11.1,9,3.00,1,False
70,NJ,138,408,359-1231,no,no,0,241.8,93,41.11,...,83,14.49,295.3,104,13.29,11.8,7,3.19,3,False
89,NJ,128,415,358-9095,no,no,0,237.9,125,40.44,...,93,21.05,208.9,68,9.40,13.9,4,3.75,1,True
116,NJ,64,510,391-4652,no,no,0,162.6,83,27.64,...,109,12.95,57.5,122,2.59,14.2,3,3.83,1,False
132,NJ,78,415,390-6101,no,no,0,231.0,115,39.27,...,140,19.58,261.4,120,11.76,9.5,3,2.57,1,False
152,OH,65,408,336-7600,no,no,0,187.9,116,31.94,...,117,13.40,227.3,86,10.23,7.5,6,2.03,1,False
156,OH,83,415,370-9116,no,no,0,337.4,120,57.36,...,116,19.33,153.9,114,6.93,15.8,7,4.27,0,True

__~__: True if value is `Not In` a given list.

In [286]:
filter = ~ df.state.isin(['OH' , 'NJ'])
df.loc[filter,:].head(10)

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
5,AL,118,510,391-8027,yes,no,0,223.4,98,37.98,...,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False
6,MA,121,510,355-9993,no,yes,24,218.2,88,37.09,...,108,29.62,212.6,118,9.57,7.5,7,2.03,3,False
7,MO,147,415,329-9001,yes,no,0,157.0,79,26.69,...,94,8.76,211.8,96,9.53,7.1,6,1.92,0,False
8,LA,117,408,335-4719,no,no,0,184.5,97,31.37,...,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
9,WV,141,415,330-8173,yes,yes,37,258.6,84,43.96,...,111,18.87,326.4,97,14.69,11.2,5,3.02,0,False
10,IN,65,415,329-6603,no,no,0,129.1,137,21.95,...,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
11,RI,74,415,344-9403,no,no,0,187.7,127,31.91,...,148,13.89,196.0,94,8.82,9.1,5,2.46,0,False
12,IA,168,408,363-1107,no,no,0,128.8,96,21.90,...,71,8.92,141.1,128,6.35,11.2,2,3.02,1,False

__between( ):__ True if the value is in a given range, else False.

In [287]:
filterr = df['total day minutes'].between(100, 120)
df.loc[filterr, :].head().sort_values(by='total day minutes')

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
151,NE,117,415,354-3436,no,no,0,102.8,119,17.48,...,91,17.57,299.0,105,13.46,10.1,7,2.73,1,False
23,SC,111,415,350-2565,no,no,0,110.4,103,18.77,...,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
118,MO,112,510,409-1244,no,yes,36,113.7,117,19.33,...,82,13.39,177.6,118,7.99,10.0,3,2.70,2,False
107,NM,93,510,383-4361,no,yes,21,117.9,131,20.04,...,115,13.98,217.0,86,9.76,9.8,3,2.65,1,False
29,HI,49,510,410-7789,no,no,0,119.3,117,20.28,...,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False

`any()` and `all()` are boolean methods that return `True` whenever the value evaluates to `True` for `any` or `all` the values in the column or row.

__any()__: True if any of the items satisfies condition

1. `True` and Non-zero value evaluates to `True`. 
2. `False` and Zero evaluates to `False`.

__Example:__ 

A lab test is conducted on 12 individuals. Two samples are taken from each person. The test result is +ve if:
1. Any of the samples is +ve
2. All of the sample are +ve.

In [288]:
df = pd.DataFrame(np.random.randint(0,2,(2,12)),
                  columns =["id" + str(i) for i in range(12)],
                  index = ['sample1' , 'sample 2'])
df.head(10)

          id0  id1  id2  id3  id4  id5  id6  id7  id8  id9  id10  id11
sample1     1    0    0    1    1    1    1    1    1    0     1     1
sample 2    0    1    1    1    0    0    1    1    1    0     0     0

In [289]:
df.any().tolist()

[True, True, True, True, True, True, True, True, True, False, True, True]

By default, the `axis='rows'` => returns result for every column.

Set `axis='columns'` to return result for every row.

Similar logic applies for `all()`.

__all()__: True only if all of the items satisty the condition./Similar logic applies for `all()`.

In [290]:
df.all().tolist()

[False,
 False,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 False,
 False,
 False]

<div class="alert alert-info" style="background-color:#006666; color:white; padding:0px 10px; border-radius:5px;"><h2 style='margin:10px 5px'>4. Query and Eval</h2>
</div>

In [291]:
import pandas as pd 
df = pd.read_csv("/home/gokku/My codes/csv files/Churn.csv")
df.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

QUERY

one Condition

In [294]:
df.query("state in ('OH','NJ')").head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
39,NJ,149,408,332-9891,no,no,0,140.4,94,23.87,...,92,23.10,188.3,108,8.47,11.1,9,3.00,1,False
70,NJ,138,408,359-1231,no,no,0,241.8,93,41.11,...,83,14.49,295.3,104,13.29,11.8,7,3.19,3,False

More conditon

you have to use bakc ticks (`) when given more conditons

In [298]:
df.query("state in ('OK', 'OH') and `voice mail plan` == 'yes' ").head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
34,OK,57,408,395-2854,no,yes,25,176.8,94,30.06,...,75,16.58,213.5,116,9.61,8.3,4,2.24,0,False
194,OK,118,408,408-6496,no,yes,23,289.5,52,49.22,...,111,14.16,119.1,88,5.36,9.5,4,2.57,1,False
231,OH,63,415,410-3719,yes,yes,36,199.0,110,33.83,...,111,24.76,197.6,92,8.89,11.0,6,2.97,1,False
362,OH,39,415,421-9752,no,yes,36,141.7,121,24.09,...,113,19.75,222.1,131,9.99,12.0,5,3.24,1,False

__Query using another Python variable__

You can refer to another python variable (`var_name`) in a query using `@var_name`.

In [300]:
min_day_calls = 120
df.query("state in ('OK', 'OH') and `voice mail plan` == 'yes' and `total day calls` >@min_day_calls").head().sort_values(by="total day calls")

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
362,OH,39,415,421-9752,no,yes,36,141.7,121,24.09,...,113,19.75,222.1,131,9.99,12.0,5,3.24,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
1693,OK,123,415,393-3635,no,yes,27,198.7,127,33.78,...,105,21.17,173.2,124,7.79,12.5,5,3.38,1,False
866,OH,119,415,385-7922,no,yes,27,220.1,128,37.42,...,133,22.80,146.5,80,6.59,11.1,3,3.00,0,False
3266,OK,138,510,406-5532,no,yes,33,155.2,139,26.38,...,79,22.81,186.4,71,8.39,9.7,4,2.62,3,False

In [301]:
%%time
min_day_calls = 120
df.query("state in ('OK', 'OH') and `voice mail plan` == 'yes' and `total day calls` >@min_day_calls").head().sort_values(by="total day calls")

CPU times: user 5.64 ms, sys: 0 ns, total: 5.64 ms
Wall time: 5.47 ms

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
362,OH,39,415,421-9752,no,yes,36,141.7,121,24.09,...,113,19.75,222.1,131,9.99,12.0,5,3.24,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
1693,OK,123,415,393-3635,no,yes,27,198.7,127,33.78,...,105,21.17,173.2,124,7.79,12.5,5,3.38,1,False
866,OH,119,415,385-7922,no,yes,27,220.1,128,37.42,...,133,22.80,146.5,80,6.59,11.1,3,3.00,0,False
3266,OK,138,510,406-5532,no,yes,33,155.2,139,26.38,...,79,22.81,186.4,71,8.39,9.7,4,2.62,3,False

The best part is, filtering using queries can be faster than with `.loc` based calls for large dataframes.

### Eval

__Using df.eval__

You need to pass an expression to evaluate as a string to the `df.eval()` method.

In [303]:
%%time
min_day_calls = 120
mask = df.eval("state in ('OK', 'OH') and `voice mail plan` == 'yes' and `total day calls` >@min_day_calls")
mask

CPU times: user 3.81 ms, sys: 202 Âµs, total: 4.01 ms
Wall time: 3.68 ms

0       False
1        True
2       False
3       False
4       False
        ...
3328    False
3329    False
3330    False
3331    False
3332    False
Length: 3333, dtype: bool

In [304]:
df.loc[mask,:]

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
362,OH,39,415,421-9752,no,yes,36,141.7,121,24.09,...,113,19.75,222.1,131,9.99,12.0,5,3.24,1,False
866,OH,119,415,385-7922,no,yes,27,220.1,128,37.42,...,133,22.80,146.5,80,6.59,11.1,3,3.00,0,False
1693,OK,123,415,393-3635,no,yes,27,198.7,127,33.78,...,105,21.17,173.2,124,7.79,12.5,5,3.38,1,False
3266,OK,138,510,406-5532,no,yes,33,155.2,139,26.38,...,79,22.81,186.4,71,8.39,9.7,4,2.62,3,False

__Another evaluation example__

In [305]:
df.eval('minutes_per_call = `total day minutes` / `total day calls`', inplace=True)
df.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn,minutes_per_call
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,16.78,244.7,91,11.01,10.0,3,2.70,1,False,2.410000
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,16.62,254.4,103,11.45,13.7,3,3.70,1,False,1.313821
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,10.30,162.6,104,7.32,12.2,5,3.29,0,False,2.135088
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,5.26,196.9,89,8.86,6.6,7,1.78,2,False,4.216901
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,12.61,186.9,121,8.41,10.1,3,2.73,3,False,1.475221

<div class="alert alert-info" style="background-color:#006666; color:white; padding:0px 10px; border-radius:5px;"><h2 style='margin:10px 5px'>5. Removing Duplicates</h2>
</div>

Removing duplicate items based on one or more columns is another often used data cleaning step. For example, you migh want to keep the very first occurence of a particular value and drop everything afterwards.

When dropping duplicates, you may handle them in 3 ways usually:
1. Keep first occurrence only
2. Keep last occurrence only
3. Remove all if there's more than one occurrence.

In [306]:
df = pd.read_csv("/home/gokku/My codes/csv files/Churn.csv")
df.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

Keep first occurence only

In [307]:
df.drop_duplicates("state" , keep = "first")

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
5,AL,118,510,391-8027,yes,no,0,223.4,98,37.98,...,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False
6,MA,121,510,355-9993,no,yes,24,218.2,88,37.09,...,108,29.62,212.6,118,9.57,7.5,7,2.03,3,False
7,MO,147,415,329-9001,yes,no,0,157.0,79,26.69,...,94,8.76,211.8,96,9.53,7.1,6,1.92,0,False
8,LA,117,408,335-4719,no,no,0,184.5,97,31.37,...,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
9,WV,141,415,330-8173,yes,yes,37,258.6,84,43.96,...,111,18.87,326.4,97,14.69,11.2,5,3.02,0,False
10,IN,65,415,329-6603,no,no,0,129.1,137,21.95,...,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
11,RI,74,415,344-9403,no,no,0,187.7,127,31.91,...,148,13.89,196.0,94,8.82,9.1,5,2.46,0,False
12,IA,168,408,363-1107,no,no,0,128.8,96,21.90,...,71,8.92,141.1,128,6.35,11.2,2,3.02,1,False
13,MT,95,510,394-8006,no,no,0,156.6,88,26.62,...,75,21.05,192.3,115,8.65,12.3,5,3.32,3,False
15,NY,161,415,351-7269,no,no,0,332.9,67,56.59,...,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
16,ID,85,408,350-8884,no,yes,27,196.4,139,33.39,...,90,23.88,89.3,75,4.02,13.8,4,3.73,1,False
17,VT,93,510,386-2923,no,no,0,190.7,114,32.42,...,111,18.55,129.6,121,5.83,8.1,3,2.19,3,False
18,VA,76,510,356-2992,no,yes,33,189.7,66,32.25,...,65,18.09,165.7,108,7.46,10.0,5,2.70,1,False
19,TX,73,415,373-2782,no,no,0,224.4,90,38.15,...,88,13.56,192.8,74,8.68,13.0,2,3.51,1,False
20,FL,147,415,396-5800,no,no,0,155.1,117,26.37,...,93,20.37,208.8,133,9.40,10.6,4,2.86,0,False
21,CO,77,408,393-7984,no,no,0,62.4,89,10.61,...,121,14.44,209.6,64,9.43,5.7,6,1.54,5,True
22,AZ,130,415,358-1958,no,no,0,183.0,112,31.11,...,99,6.20,181.8,78,8.18,9.5,19,2.57,0,False
23,SC,111,415,350-2565,no,no,0,110.4,103,18.77,...,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
25,NE,174,415,331-3698,no,no,0,124.3,76,21.13,...,112,23.55,250.7,115,11.28,15.5,5,4.19,3,False
26,WY,57,408,357-3817,no,yes,39,213.0,115,36.21,...,112,16.24,182.7,115,8.22,9.5,3,2.57,0,False
29,HI,49,510,410-7789,no,no,0,119.3,117,20.28,...,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False
30,IL,142,415,416-8428,no,no,0,84.8,95,14.42,...,63,11.62,250.5,148,11.27,14.2,6,3.83,2,False
31,NH,75,510,370-3359,no,no,0,226.1,105,38.44,...,107,17.13,246.2,98,11.08,10.3,5,2.78,1,False
35,GA,72,415,362-1407,no,yes,37,220.0,80,37.40,...,102,18.47,152.8,71,6.88,14.7,6,3.97,3,False
36,AK,36,408,341-9764,no,yes,30,146.3,128,24.87,...,80,13.81,129.3,109,5.82,14.5,6,3.92,0,False
41,MD,135,408,383-6029,yes,yes,41,173.1,85,29.43,...,107,17.33,122.2,78,5.50,14.6,15,3.94,0,True
42,AR,34,510,353-7289,no,no,0,124.8,82,21.22,...,98,23.99,311.5,78,14.02,10.0,4,2.70,2,False
44,WI,64,510,352-1237,no,no,0,154.0,67,26.18,...,118,19.19,265.3,86,11.94,3.5,3,0.95,1,False
45,OR,59,408,353-3061,no,yes,28,120.9,97,20.55,...,92,18.11,163.1,116,7.34,8.5,5,2.30,2,False
46,MI,65,415,363-5450,no,no,0,211.3,120,35.92,...,122,13.82,134.7,118,6.06,13.2,5,3.56,3,False
47,DE,142,408,364-1995,no,no,0,187.0,133,31.79,...,74,11.44,242.2,127,10.90,7.4,5,2.00,2,False
53,UT,96,415,404-3211,no,no,0,160.2,117,27.23,...,67,22.74,228.5,68,10.28,9.3,5,2.51,2,False
61,CA,116,415,405-3371,no,yes,34,268.6,83,45.66,...,142,15.15,166.3,106,7.48,11.6,3,3.13,2,False
62,MN,74,510,344-5117,no,yes,33,193.7,91,32.93,...,96,20.92,138.0,92,6.21,14.6,3,3.94,2,False
63,SD,149,408,332-8160,no,yes,28,180.7,92,30.72,...,64,15.96,265.5,53,11.95,12.6,3,3.40,3,False
64,NC,38,408,359-4081,no,no,0,131.2,98,22.30,...,97,13.85,159.0,106,7.15,8.2,6,2.21,2,False
65,WA,40,415,352-8305,no,yes,41,148.1,74,25.18,...,88,14.41,214.1,102,9.63,6.2,5,1.67,2,False
72,NM,147,510,415-2935,no,no,0,248.6,83,42.26,...,85,12.66,172.5,109,7.76,8.0,4,2.16,3,False
73,NV,90,415,399-4246,no,no,0,203.4,146,34.58,...,117,19.27,152.4,105,6.86,7.3,4,1.97,1,False
76,DC,82,415,374-5353,no,no,0,300.3,109,51.05,...,100,15.39,270.1,73,12.15,11.7,4,3.16,0,True
88,KY,74,415,346-7302,no,yes,35,154.1,104,26.20,...,84,10.49,202.1,57,9.09,10.9,9,2.94,2,False
93,ME,78,415,400-9510,no,no,0,252.9,93,42.99,...,112,15.16,263.9,105,11.88,9.5,7,2.57,3,False
98,MS,120,408,355-6291,no,no,0,212.1,131,36.06,...,104,17.80,167.2,96,7.52,5.3,5,1.43,1,True
196,TN,78,415,332-6934,no,no,0,149.7,119,25.45,...,115,15.49,261.5,126,11.77,9.7,8,2.62,0,False
212,PA,82,415,333-5609,no,yes,24,155.2,131,26.38,...,106,20.78,122.4,68,5.51,10.7,3,2.89,1,False
290,CT,199,415,393-6733,no,yes,34,230.6,121,39.20,...,99,18.65,299.3,94,13.47,8.0,2,2.16,0,False
377,ND,79,408,363-3515,no,no,0,205.7,123,34.97,...,108,18.23,226.1,106,10.17,6.7,18,1.81,1,False

In [308]:
df.drop_duplicates(subset=["state","area code"] , keep = "first")

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
707,CT,84,510,351-1007,no,yes,42,165.3,97,28.10,...,118,19.00,260.8,72,11.74,7.6,7,2.05,3,False
710,TN,69,510,358-1912,no,no,0,195.3,70,33.20,...,108,18.42,259.9,119,11.70,12.5,4,3.38,3,False
760,NC,128,510,417-5067,no,no,0,187.3,84,31.84,...,95,23.02,206.4,68,9.29,10.1,5,2.73,1,False
777,ND,135,510,378-4013,yes,yes,24,127.7,54,21.71,...,105,18.28,234.3,84,10.54,5.8,4,1.57,2,False
814,WA,75,510,367-1424,no,yes,41,130.9,115,22.25,...,110,17.29,171.7,68,7.73,12.4,4,3.35,1,False

In [309]:
df.drop_duplicates(subset=["state","area code"] , keep = "last")

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
2261,IA,100,408,378-9478,no,no,0,210.9,85,35.85,...,69,27.99,127.1,78,5.72,9.4,5,2.54,4,False
2379,ND,56,510,384-5335,no,no,0,164.3,92,27.93,...,107,19.86,187.3,104,8.43,11.8,1,3.19,2,False
2440,NM,118,510,395-4509,no,no,0,205.2,115,34.88,...,137,15.71,176.1,115,7.92,7.0,6,1.89,0,False
2474,TX,80,510,384-3904,no,yes,22,196.4,115,33.39,...,109,12.78,176.2,75,7.93,9.3,1,2.51,0,False
2516,MA,127,510,336-1880,no,yes,19,129.7,115,22.05,...,101,13.67,265.0,63,11.93,12.2,3,3.29,2,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

In [312]:
df.drop_duplicates(subset=["state","area code"] , keep = False)

Empty DataFrame
Columns: [state, account length, area code, phone number, international plan, voice mail plan, number vmail messages, total day minutes, total day calls, total day charge, total eve minutes, total eve calls, total eve charge, total night minutes, total night calls, total night charge, total intl minutes, total intl calls, total intl charge, customer service calls, churn]
Index: []

[0 rows x 21 columns]

Duplicates on the entire dataframe. If two rows are exactly alike, drop_duplicates() with no subset argument will remove the entire row.

In [313]:
df.drop_duplicates()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

<div class="alert alert-info" style="background-color:#006666; color:white; padding:0px 10px; border-radius:5px;"><h2 style='margin:10px 5px'>6. Sorting</h2>
</div>

1. Sorting by single column
2. Sorting by multiple columns
3. Mix ascending and descending sort

In [ ]:
import pandas as pd
df = pd.read_csv("Datasets/Churn.csv")
df.head()

__Ascending sort__

Ex: Get 5 customers who made the lowest number of total day calls.

In [320]:
coustomers = df.sort_values(by = "total day calls")
coustomers.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
1397,VT,101,510,413-7655,no,no,0,0.0,0,0.00,...,119,16.33,168.8,95,7.60,7.2,4,1.94,1,False
1345,SD,98,415,392-2555,no,no,0,0.0,0,0.00,...,130,13.57,167.1,88,7.52,6.8,1,1.84,4,True
1144,NH,155,408,353-6300,no,no,0,216.7,30,36.84,...,125,12.27,135.3,106,6.09,10.8,1,2.92,2,False
1989,MT,124,415,420-5652,no,yes,30,144.5,35,24.57,...,101,22.30,226.5,82,10.19,12.0,7,3.24,2,False
692,NE,82,408,343-2741,no,no,0,185.8,36,31.59,...,134,23.50,192.1,104,8.64,5.7,7,1.54,4,False

__Descending sort__

Ex: Get 5 customers who made the highest number of day calls.

In [321]:
coustomers = df.sort_values(by = "total day calls",ascending=False)
coustomers.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
1121,MI,91,415,390-7930,no,no,0,154.4,165,26.25,...,121,14.31,239.9,81,10.80,11.7,4,3.16,5,True
468,AZ,86,415,392-2381,no,yes,32,70.9,163,12.05,...,121,14.17,244.9,105,11.02,11.1,5,3.00,3,False
1460,MT,80,415,361-8288,no,no,0,198.1,160,33.68,...,87,13.32,182.1,76,8.19,9.3,3,2.51,3,False
2392,WY,90,510,400-8069,no,no,0,125.4,158,21.32,...,83,22.87,238.6,103,10.74,11.0,7,2.97,1,False
1057,WV,86,415,332-2258,no,yes,38,123.0,158,20.91,...,119,11.38,138.2,103,6.22,13.3,4,3.59,1,False

__Sort by multiple columns__

Ex: sort the customers who made the highest number of day calls by each state.

In [326]:
df.sort_values(by=['state', 'total day calls'], ascending=False).iloc[:, [0,8]]

     state  total day calls
2392    WY              158
238     WY              148
1018    WY              148
1751    WY              142
49      WY              135
...    ...              ...
1024    AK               65
2571    AK               62
1884    AK               60
550     AK               58
1589    AK               55

[3333 rows x 2 columns]

Sort one column by ascending and other by descending.

Ex: Sort `state` in alphabetical order but `total day calls` in descending order.

In [323]:
df.sort_values(by=['state', 'total day calls'], ascending=[True, False]).loc[:, ['state', 'total day calls']]

     state  total day calls
950     AK              129
36      AK              128
3088    AK              127
718     AK              124
2071    AK              121
...    ...              ...
2819    WY               68
3172    WY               67
653     WY               65
609     WY               55
1422    WY               45

[3333 rows x 2 columns]